  
  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>
  <!--Main Content-->
  <head>
    <link rel = 'stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <img class = "birthdayBackground" src ="https://plus.unsplash.com/premium_photo-1664304077938-d9f65c41583c?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <h1 class= "welcome">WELCOME TO ERIC'S BIRTHDAY TRACKER </h1>
    <p class= "subheader">Never forget a friend or family's birthday again!!</p>
    <a>
  </head>


    
<%- include Partials/footer.ejs %>